/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/

html {
  font-size: 62.5%;
}
img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.dropcap::first-letter {
  font-size: 48px;
  color: #490c6a;
  float: left;
  line-height: 1;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-left: 0;
}
/* body {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.6rem;
  font-family: "Gentium Book Plus", serif;
} */
body {
  background: linear-gradient(to right, #ffffff, #d7cee6);
  color: #000000;
  font-size: 1.6rem;
  font-family: "Gentium Book Plus", serif;
}
p {
  margin: 0;
}
nav,
footer {
  background-color: #490c6a;
}
footer {
  text-align: center;
  padding: 1em 0;
  color: #ffffff;
}
footer p {
  margin: 0;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
nav a:link,
nav a:visited {
  color: #ffffff;
  text-decoration: none;
}
nav a:hover,
nav a:active {
  color: #ffffff;
  text-decoration: underline;
}
nav a.active {
  color: #f0f0f0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
}
header .small {
  font-size: 18px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: #490c6a;
}
.small {
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  width: 768px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
article .figure-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
article .figure-container .figure-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article figure {
  float: right;
  width: 100%;
  max-width: 280px;
  margin: 0;
}
article figcaption {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 14px;
  color: #000000;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  display: flex;
  justify-content: space-around;
}
a.button {
  border: 1px solid #490c6a;
  padding: 0.4em 1em 0.4em 1em;
  text-decoration: none;
  color: #490c6a;
  background-color: transparent;
  border-radius: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 80%;
  transition: all 0.3s ease;
}
a.button:hover,
a.button:active {
  border: 1px solid #490c6a;
  padding: 0.4em 1em 0.4em 1em;
  text-decoration: none;
  color: white;
  background-color: #490c6a;
  border-radius: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 80%;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {
    width: 96%;
  }
  article {
    width: 96%;
  }
}
